<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.wufan.juice.mapper.UserRoleMapper">

    <resultMap id="RoleResultMap" type="cn.wufan.juice.entity.Role">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <insert id="saveRole" parameterType="cn.wufan.juice.entity.Role" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO roles (name, status) values (#{name}, #{status})
    </insert>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users_roles (user_id, role_id) values(#{userId}, #{roleId})
    </insert>

    <select id="findRolesByUser" parameterType="java.lang.Long" resultMap="RoleResultMap">
        SELECT r.id,r.name,r.status
        FROM roles r
        LEFT JOIN users_roles ur ON r.id = ur.role_id
        LEFT JOIN users u ON u.id = ur.user_id
        WHERE u.id = #{id}
    </select>
</mapper>